# This workflow will build a .NET project and release a NuGet version to NuGet.org
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Release

on:
  workflow_dispatch: 
    inputs:
      release_version:
        description: 'The version to release'
        required: true
        type: string

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
        dotnet-quality: preview
    - name: Restore dependencies
      run: dotnet restore
    - name: Build Release
      run: dotnet build --no-restore --configuration Release --verbosity normal
    - name: Build Debug
      run: dotnet build --no-restore --configuration Debug --verbosity normal
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Create the package
      run: dotnet pack --configuration Release Serilog.Sinks.ArangoDb/Serilog.Sinks.ArangoDb.csproj --no-build -o ./nupkg
    - name: Publish the package to nuget.org
      run: dotnet nuget push ./nupkg/*.nupkg -k $NUGET_AUTH_TOKEN -s https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.NUGET_API_KEY }}